body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.main_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px; /* Set the width to 100px */
}

button.bb {
    padding: 10px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /* Set the width to 100px to match the text input */
    margin-bottom: 10px;
}


button.bb:hover {
    background-color: #2980b9;
    transform: scale(1.2);
}
